extend layout

block content
  h1= title

  form(action='' method='POST')
    label(for='username') #[Strong Username:]
    input.form-control(type='text' id='username' name='username' placeholder='username')
    label(for='password') #[Strong Password:]
    input.form-control(type='password' id='password' name='password' placeholder='password')
    button.btn.btn-primary(type='submit') Submit